@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,600&family=Inter:wght@300&family=Luxurious+Script&family=M+PLUS+Code+Latin&family=Merriweather&family=Mohave:wght@600&family=Montagu+Slab&family=Nunito:ital@1&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap');

/* --------------------NAVBAR---------------------- */
nav{
    padding-right: 5%;
    box-shadow: 2px 1px 18px 10px  rgb(210, 213, 210);
}
nav .nav-item{
    font-family: 'Poppins', sans-serif;
}
nav a{
    text-decoration: none;
}
#shop{
    color: black;
}
#coll{
    color:black;
}
#user{
    color:black;
}
#cart{
    color:black;
}
/* ------------------FORM------------------- */
#container{
    margin: auto;
    border-radius: 8px;
    box-shadow: 2px 1px 18px 10px  rgb(210, 213, 210);
}
#cont-form{
    padding: 2%;
    border-radius: 8px;
    box-shadow: 2px 1px 18px 10px  rgb(210, 213, 210)
}
#registro{
    color:rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;;
    font-size: 2rem;
    background-color: #ec5c08cd;
    border-radius: 4px;
}
.btn{
    color: coral;
    font-weight: bolder;
    background-color: white;
    border: 3px solid coral;
    transition: all .5s ease;
    
}
.btn:hover{
    background-color: coral;
    color: white;
    border: 3px solid coral;
}
/* --------------BANNER------------- */
#wrapper {
    margin-top: 5%;
}
/* -------------FOOTER------------- */
#youtube{
    color:white;
    font-size: 180%;
}
#facebook{
    color:white;
    font-size: 180%;
}
div.footer{
    width: 100%;
    height: auto;
    background-color: black;
}
.footer a{
    text-decoration: none;
}