@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,600&family=Inter:wght@300&family=Luxurious+Script&family=M+PLUS+Code+Latin&family=Merriweather&family=Mohave:wght@600&family=Montagu+Slab&family=Nunito:ital@1&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap');

nav{
    padding-right: 5%;
    box-shadow: 2px 1px 18px 10px  rgb(210, 213, 210);
}
nav .nav-item{
    font-family: 'Poppins', sans-serif;
}
nav a{
    text-decoration: none;
}
#shop{
    color: black;
}
#coll{
    color:black;
}
#user{
    color:black;
}
#cart{
    color:black;
}
/* MODAL */
#popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.199);
    transition: opacity .5s;
    visibility: hidden;
    opacity: 0;
}
#popup:target{
    visibility: visible;
    opacity: 1;
}
#body{
    width: 45%;
    padding: 2%;
    border-radius: 2px;
    background-color: white;
    overflow-y: scroll;
    position: relative;
    margin: 4.8% 54% auto;
    transition: all 2s ease-in-out;
}
#cerrar{
    position: absolute;
    right: 5%;
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
    transition: all .5s;
}
/* ============CARDS 1 ============ */
#main{
    max-width: 80%;
    margin: 2% auto;
    display: flex;
    flex-direction: row;
}
.cards1{
    width: 20%;
    height:140vh ;
    
}

.column img:hover{
    border: 2px solid black;
}
/* ===========CARDS 3 ======== */
#detalle{
    max-width: 30%;
}
#size{
    display: flex;
    flex-direction: row;
}
#cont-size{
    border-radius: 5px;
    border: 3px solid rgba(221, 221, 221, 0.836);
}
#cont-size p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(221, 221, 221, 0.836);
}
#cont-size #size{
    text-align: center;
}
#size li{
    list-style: none;
    padding: 4%;
    margin: 2%;
    border-radius:50rem;
    border: 3px solid transparent;
    cursor: pointer;
    font-size: 1vw;
}
#size li:hover{
    border-radius:50rem;
    border: 3px solid coral;
    transition: all .5s ease;
}
#otros{
    background-color: coral;
    color: white;
    margin-bottom: 3%;
    border: 3px solid coral;
    font-weight: bolder;
}
#otros:hover{
    color: coral;
    background-color: white;
    border: 3px solid coral;
    transition: all .5s ease;
}
/* ==========Banner========== */
#wrapper {
    margin-top: 4%;
}
/* =======footer======== */
#youtube{
    color:white;
    font-size: 180%;
}
#facebook{
    color:white;
    font-size: 180%;
}
div.footer{
    width: 100%;
    height: auto;
    background-color: black;
}
.footer a{
    text-decoration: none;
}